<a href="https://colab.research.google.com/github/deepinmachine/Fraud_analysis_by_analysing_data/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
company_order_x=pd.read_excel('/content/Company X - Order Report.xlsx')

In [ ]:
company_order_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ExternOrderNo         400 non-null    int64
 1   SKU                   400 non-null    object
 2   Order Qty             400 non-null    int64
 3   Payment Mode          400 non-null    object
 4   Item Price(Per Qty.)  400 non-null    int64
dtypes: int64(3), object(2)
memory usage: 15.8+ KB

In [ ]:
company_sku=pd.read_excel('/content/Company X - SKU Master.xlsx')
company_sku.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SKU         66 non-null     object
 1   Weight (g)  66 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [ ]:
company_order_x['ExternOrderNo'].value_counts().reset_index()

          index  ExternOrderNo
0    2001809820             14
1    2001827036              8
2    2001812854              8
3    2001821185              8
4    2001817093              8
..          ...            ...
119  2001814580              1
120  2001820690              1
121  2001806686              1
122  2001806823              1
123  2001807012              1

[124 rows x 2 columns]

#THERE  ARE 124 DIFFERENT ORDERS BASED ON EXTERNAL ID NO

In [ ]:
courier_invoice=pd.read_excel('/content/Courier Company - Invoice.xlsx')
courier_invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode     124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.9+ KB

THERE ARE 124 DIFFERNT ORDER BASED ON COURIER DETAILS AND ID

In [ ]:
sku_master=pd.read_excel('/content/Company X - SKU Master.xlsx')
sku_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SKU         66 non-null     object
 1   Weight (g)  66 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [ ]:
merged_data = company_order_x.merge(sku_master, on='SKU', how='left')

In [ ]:
merged_data

,ExternOrderNo,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g)
0,2001827036,8904223818706,1,COD,233,127
1,2001827036,8904223819093,1,COD,233,150
2,2001827036,8904223819109,1,COD,233,100
3,2001827036,8904223818430,1,COD,470,165
4,2001827036,8904223819277,1,COD,233,350
...,...,...,...,...,...,...
396,2001806229,8904223818942,1,COD,286,133
397,2001806229,8904223818850,1,COD,563,240
398,2001806226,8904223818850,2,COD,1125,240
399,2001806210,8904223816214,1,COD,402,120
400,2001806210,8904223818874,1,COD,922,100

In [ ]:
#we will calculate the total waeight and price of a order by multiplying Qty with item price and weight
# then we will group by by each order id to extract the price ans weight of each product
merged_data['total weight']=merged_data['Order Qty']*merged_data['Weight (g)']
merged_data['total_price_x']=merged_data['Order Qty']*merged_data['Item Price(Per Qty.)']

In [ ]:
#grouping data based on order id
grouped_data=merged_data.groupby('ExternOrderNo').agg({'total weight':'sum','total_price_x':'sum'}).reset_index()
grouped_data['total_weight(kg)_x']=grouped_data['total weight']/1000
grouped_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ExternOrderNo       124 non-null    int64
 1   total weight        124 non-null    int64
 2   total_price_x       124 non-null    int64
 3   total_weight(kg)_x  124 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 4.0 KB

In [ ]:
grouped_data.drop('total weight', axis=1,inplace=True)
grouped_data.rename(columns={'ExternOrderNo':'Order ID'},inplace=True)

In [ ]:
grouped_data.describe()

           Order ID  total_price_x  total_weight(kg)_x
count  1.240000e+02     124.000000          124.000000
mean   2.001811e+09    5197.943548            0.713516
std    5.167329e+03   11859.883105            0.499546
min    2.001806e+09     233.000000            0.065000
25%    2.001807e+09    1082.000000            0.500000
50%    2.001809e+09    1399.000000            0.556000
75%    2.001812e+09    2880.250000            0.832500
max    2.001827e+09   64922.000000            3.080000

In [ ]:
#now we will go for to differentiatie between zones courier and company
# 1. we will join pinocde zones data to coutier invoice this will create a new column zones_x
pincode=pd.read_excel('/content/Company X - Pincode Zones.xlsx')
courier_invoice=pd.read_excel('/content/Courier Company - Invoice.xlsx')
pincode.rename(columns={'Zone':'zone_x'},inplace=True)

In [ ]:
pincode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Warehouse Pincode  124 non-null    int64
 1   Customer Pincode   124 non-null    int64
 2   zone_x             124 non-null    object
dtypes: int64(2), object(1)
memory usage: 3.0+ KB

In [ ]:
courier_invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode     124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.9+ KB

it is necessary to delete all the duplicates from the pincode table else it will create the large number of rowa

In [ ]:
pincode=pincode.drop_duplicates()

In [ ]:
#joining two tables
new_courier_invoice=courier_invoice.merge(pincode,on=['Customer Pincode'],how='left')
new_courier_invoice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124 entries, 0 to 123
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode_x   124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
 8   Warehouse Pincode_y   124 non-null    int64
 9   zone_x                124 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 10.7+ KB

In [ ]:
#now we have price of item and weight of item and zone of item as per company x
#now we will have to find price of item as per the company x
# now we will have to find price according to weight slabs
#we will joins weight slabs to the new_courier_invoice on zone_x column so that we will have rates as per zone

In [ ]:
courier_rates=pd.read_excel('/content/Courier Company - Rates.xlsx')
courier_rates['Zone']=courier_rates['Zone'].str.lower()
courier_rates

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,a,0.25,29.5,23.6,13.6,23.6
1,b,0.50,33.0,28.3,20.5,28.3
2,c,0.75,40.1,38.9,31.9,38.9
3,d,1.25,45.4,44.8,41.3,44.8
4,e,1.50,56.6,55.5,50.7,55.5

In [ ]:
new_data=new_courier_invoice.merge(courier_rates,left_on='zone_x',right_on='Zone',how='left')

In [ ]:
new_data.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,zone_x,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,140.0,121003,d,d,1.25,45.4,44.8,41.3,44.8
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,101.2,121003,d,d,1.25,45.4,44.8,41.3,44.8
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,121003,d,d,1.25,45.4,44.8,41.3,44.8
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,121003,b,b,0.50,33.0,28.3,20.5,28.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,121003,d,d,1.25,45.4,44.8,41.3,44.8

In [ ]:
#now we have to get weight that we calculate earlier to be joined on this new_data table
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124 entries, 0 to 123
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   AWB Code                               124 non-null    int64
 1   Order ID                               124 non-null    int64
 2   Charged Weight                         124 non-null    float64
 3   Warehouse Pincode_x                    124 non-null    int64
 4   Customer Pincode                       124 non-null    int64
 5   Zone_x                                 124 non-null    object
 6   Type of Shipment                       124 non-null    object
 7   Billing Amount (Rs.)                   124 non-null    float64
 8   Warehouse Pincode_y                    124 non-null    int64
 9   zone_x                                 124 non-null    object
 10  Zone_y                                 124 non-null    object
 11  Weight Slabs                           124 non-null    float64
 12  Forward Fixed Charge                   124 non-null    float64
 13  Forward Additional Weight Slab Charge  124 non-null    float64
 14  RTO Fixed Charge                       124 non-null    float64
 15  RTO Additional Weight Slab Charge      124 non-null    float64
dtypes: float64(7), int64(5), object(4)
memory usage: 16.5+ KB

In [ ]:
new_data1=new_data.merge(grouped_data,on='Order ID',how='inner')

In [ ]:
new_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124 entries, 0 to 123
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   AWB Code                               124 non-null    int64
 1   Order ID                               124 non-null    int64
 2   Charged Weight                         124 non-null    float64
 3   Warehouse Pincode_x                    124 non-null    int64
 4   Customer Pincode                       124 non-null    int64
 5   Zone_x                                 124 non-null    object
 6   Type of Shipment                       124 non-null    object
 7   Billing Amount (Rs.)                   124 non-null    float64
 8   Warehouse Pincode_y                    124 non-null    int64
 9   zone_x                                 124 non-null    object
 10  Zone_y                                 124 non-null    object
 11  Weight Slabs                           124 non-null    float64
 12  Forward Fixed Charge                   124 non-null    float64
 13  Forward Additional Weight Slab Charge  124 non-null    float64
 14  RTO Fixed Charge                       124 non-null    float64
 15  RTO Additional Weight Slab Charge      124 non-null    float64
 16  total_price_x                          124 non-null    int64
 17  total_weight(kg)_x                     124 non-null    float64
dtypes: float64(8), int64(6), object(4)
memory usage: 18.4+ KB

In [ ]:
new_data1.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,zone_x,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,total_price_x,total_weight(kg)_x
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,140.0,121003,d,d,1.25,45.4,44.8,41.3,44.8,10970,1.302
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,101.2,121003,d,d,1.25,45.4,44.8,41.3,44.8,1684,0.615
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,121003,d,d,1.25,45.4,44.8,41.3,44.8,63537,2.265
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,121003,b,b,0.50,33.0,28.3,20.5,28.3,1491,0.700
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,121003,d,d,1.25,45.4,44.8,41.3,44.8,603,0.240

In [ ]:
import math

In [ ]:
def charges(x):
  return len(x)
new_data1['Type of Shipment']=new_data1['Type of Shipment'].apply(charges)

In [ ]:
new_data1['Type of Shipment']=new_data1['Type of Shipment'].astype(int)

In [ ]:
# so now forward charge will be length 15 and forward and rto charges will be length 23
def calculation_price(new_data1):
  x=0
  price=0
  if new_data1['total_weight(kg)_x']>new_data1['Weight Slabs']:
    x=math.ceil(new_data1['total_weight(kg)_x']/new_data1['Weight Slabs'])
  else:
    x=1
  if new_data1['Type of Shipment']==15:
    price=new_data1['Forward Fixed Charge']+(x-1)*new_data1['Forward Additional Weight Slab Charge']
  else:
    price=new_data1['Forward Fixed Charge']+(x-1)*new_data1['Forward Additional Weight Slab Charge']+new_data1['RTO Fixed Charge']+(x-1)*new_data1['RTO Additional Weight Slab Charge']
  return price

In [ ]:
new_data1['price_x']=new_data1.apply(calculation_price,axis=1)

In [ ]:
new_data1

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,zone_x,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,total_price_x,total_weight(kg)_x,price_x
0,1091117222124,2001806232,1.30,121003,507101,d,15,140.0,121003,d,d,1.25,45.4,44.8,41.3,44.8,10970,1.302,90.2
1,1091117222194,2001806273,1.00,121003,486886,d,15,101.2,121003,d,d,1.25,45.4,44.8,41.3,44.8,1684,0.615,45.4
2,1091117222931,2001806408,2.50,121003,532484,d,15,224.6,121003,d,d,1.25,45.4,44.8,41.3,44.8,63537,2.265,90.2
3,1091117223244,2001806458,1.00,121003,143001,b,15,61.3,121003,b,b,0.50,33.0,28.3,20.5,28.3,1491,0.700,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,15,45.4,121003,d,d,1.25,45.4,44.8,41.3,44.8,603,0.240,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,15,95.2,121003,b,b,0.50,33.0,28.3,20.5,28.3,1082,0.500,33.0
120,1091117614452,2001809383,0.50,121003,303702,d,23,86.7,121003,b,b,0.50,33.0,28.3,20.5,28.3,1399,0.607,110.1
121,1091120922803,2001820978,0.50,121003,313301,d,15,45.4,121003,b,b,0.50,33.0,28.3,20.5,28.3,1119,0.515,61.3
122,1091121844806,2001811475,0.50,121003,173212,b,15,47.0,121003,e,e,1.50,56.6,55.5,50.7,55.5,2010,0.689,56.6
123,1091121846136,2001811305,0.50,121003,302020,d,15,65.4,121003,b,b,0.50,33.0,28.3,20.5,28.3,2246,0.750,61.3

In [ ]:
new_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124 entries, 0 to 123
Data columns (total 19 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   AWB Code                               124 non-null    int64
 1   Order ID                               124 non-null    int64
 2   Charged Weight                         124 non-null    float64
 3   Warehouse Pincode_x                    124 non-null    int64
 4   Customer Pincode                       124 non-null    int64
 5   Zone_x                                 124 non-null    object
 6   Type of Shipment                       124 non-null    int64
 7   Billing Amount (Rs.)                   124 non-null    float64
 8   Warehouse Pincode_y                    124 non-null    int64
 9   zone_x                                 124 non-null    object
 10  Zone_y                                 124 non-null    object
 11  Weight Slabs                           124 non-null    float64
 12  Forward Fixed Charge                   124 non-null    float64
 13  Forward Additional Weight Slab Charge  124 non-null    float64
 14  RTO Fixed Charge                       124 non-null    float64
 15  RTO Additional Weight Slab Charge      124 non-null    float64
 16  total_price_x                          124 non-null    int64
 17  total_weight(kg)_x                     124 non-null    float64
 18  price_x                                124 non-null    float64
dtypes: float64(9), int64(7), object(3)
memory usage: 19.4+ KB

In [ ]:
#now renaming columns to as per given assignment
new_data1.rename(columns={'total_weight(kg)_x':'Total weight as per X (KG)','Weight Slabs':'Weight slab as per X (KG)','Charged Weight':'Total weight as per Courier Company (KG)','zone_x':'Delivery Zone as per X','Zone_x':'Delivery Zone charged by Courier Company','price_x':'Expected Charge as per X (Rs.)','Billing Amount (Rs.)':'Charges Billed by Courier Company (Rs.)'},inplace=True)

In [ ]:
new_data1['Difference Between Expected Charges and Billed Charges (Rs.)']=new_data1['Expected Charge as per X (Rs.)']-new_data1['Charges Billed by Courier Company (Rs.)']

In [ ]:

new_data1.to_excel('assignment.xlsx',index=False)

In [ ]:
from google.colab import files
files.download('assignment.xlsx')